{% extends "core/base.html" %}

{% block header %}<h2>
    List of Blogs<br>
    <a href="{% url "blog_app:blog_new" %}">  Start new </a>

</h2>{% endblock %}

{% block content %}



    <form action="" method="get">
        {{ searchform }}

        <input type="submit" value="Search">

    </form>

    <br \>
    {% for blog in object_list %}
        <div>
                <a href="{% url "blog_app:blog_detail" pk=blog.pk %}"> {{ blog.title }}</a> (by {{ blog.author }})
            </div>
            <div>
                <i>{{ blog.description }}</i>
            </div>
        </div>
    <br />
    {% endfor %}

{% include 'core/pagination.html' %}


{% endblock %}