{% extends "core/base.html" %}

{% block header %}
<header class="container">
<p><h1> blog {{ blog.title }} </h1></p>
{% if user == blog.author %}
    <p>
        <a class="btn btn-primary btn-lg" role="button" href="{% url 'blog_app:blog_edit' blog.pk %}">Edit</a>
        <a class="btn btn-primary btn-lg newPostCreate" role="button" href="{% url 'post_app:post_new' blog.pk %}">New post</a>
    </p>
{% endif %}
</header>
{% endblock %}

{% block content %}
<main class="container">
    <div class="row">
    <div class="btn btn-secondary updateLikes" role="button">Update likes</div>
{% for post in blog.posts.all %}
    <div class="col-md-12">
        <b>
            <a href='{% url "post_app:post_detail" post.pk %}'> {{ post.title }}</a>
            <span>
                <a href="{% url 'post_app:post_edit' post.pk %}" class="postEditLink"><small>edit</small></a>
            </span>
         </b>
{#        <!--{{ post.text|linebreaks }}-->#}
        <small>лайков: <div class="likecount" data-likes-url="{% url 'post_app:like' pk=post.pk %}" data-post-id="{{ post.pk }}">Nan</div></small>
    </div>
{% endfor %}
    </div>
</main>
{% include 'core/pagination.html' %}
{% endblock %}
