{% extends "core/base.html" %}

{% block header %}
<header class="container">
<p><h1> blog {{ blog.title }} </h1></p>
{% if user == blog.author %}
    <p><a class="btn btn-primary btn-lg" role="button" href="{% url 'blog_app:blog_edit' blog.pk %}">Edit</a>
        <a class="btn btn-primary btn-lg" role="button" href="{% url 'post_app:post_new' blog.pk %}">New post</a>
    </p>
{% endif %}
</header>
{% endblock %}

{% block content %}
<main class="container">
    <div class="row">
{% for post in blog.posts.all %}
    <div class="col-md-12">
        <b> <h2>
            <a href="{% url 'post_app:post_detail' post.pk %}"> {{ post.title }}</a><br \>
        </h2> </b>
        {{ post.text|linebreaks }}
    </div>
{% endfor %}
    </div>
</main>
{% include 'core/pagination.html' %}
{% endblock %}
