{% extends "core/base.html" %}
{% load bootstrap4 %}
{% block header %}
<header class="container">
    <p><h2> Post </h2></p>
    <p><h2><b>
    {{ post.title }} from blog {{ post.blog.title }}</b></h2></p>
    <a href="{% url 'post_app:post_edit' post.pk %}" class="postEditLink">Edit</a></header>
{% endblock %}

{% block content %}


    <main class="container">
        <p>
            <b><h2>{{ post.text }}</h2></b>
        </p>
    лайков: <div class="likecount">{{ post.likecount }}</div>

<aside class="container">
    Comments number: {{ comment_count }} <br><br>
    Comments:



    {% for comment in post.comments.all %}
    <b>{{ forloop.counter }} : {{ comment.title }}</b><br>
        {{ comment.data }}<br> <i> by author {{ comment.author }}</i>
        <br><br>

    {% endfor %}


{#    <a href="{% url 'post_app:comment_new' post.pk %}" class="commentNewLink">NewComment</a>#}


    {% if request.user.is_authenticated %}
        <form method="post" class="form">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
        <button type="submit" class="btn btn-primary">Submit</button>
    {% endbuttons %}
    </form>
    {% endif %}
</aside>


{% endblock %}