{% block menu %}

    <a href="{% url "home" %}"> Main page</a>
    <a href="{% url "blog_app:blog_list" %}"> Blogs</a>
    <a href="{% url "core:profile_list" %}"> Users</a>
    {% if user.is_authenticated %}
    {{ request.user }}
    <br>
    <a href="{% url "core:logout" %}"> (Log out)</a>
    {% else %}
    <a href="{% url "core:login" %}"> Log in</a>
    <a href="{% url "core:registration" %}"> Register</a>
    {% endif %}

    <br />
    -----------------------------------------------------------------------------------
    <br />
{% endblock %}
{% block header %}
 <br>Main page<br>
    {% endblock %}

{% block content %}
    {% if user_check %}
     <br>Welcome back, {{ request.user }}
        <br><br>
{% endif %}
    <b>Five latest posts:</b><br \><br \>
        {% for post in latest_articles.all %}
    <a href="{% url 'post_app:post_detail' post.pk %}">{{ post }} </a>
     <br \>
{% endfor %}
<br \>
    number of blogs: {{blog_count|default:"ERROR"}}
    <br />number of posts: {{post_count}}
    <br />number of comments: {{comment_count}}
    <br /><br />

</h1>
{% endblock %}

{% include "core/footer.html" %}